@import "tailwindcss";

:root {
  .gradient-border-top {
    border-top: 1px solid;
    border-image-source: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 55.77%,
      rgba(255, 255, 255, 0) 100%
    );
    border-image-slice: 1;
  }
}
